.detail-each-menu{
    font-size: 18px;
    /* font-weight: bold; */
    padding: 20px;
    flex-direction: column;
}
.btn-value{
 cursor: pointer !important;
 color: #fff;
 background-color: #007bff !important;
 border-color: #007bff;
 display: inline-block;
 font-weight: 400;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: .375rem .75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: .25rem;
 
}
.btn-value:hover{
    background-color: #0660c0 !important;
}