.contact
{
    color: #fff;
    cursor: pointer;
    padding:5px;
    margin: 50px 10px 10px 10px;
   font-size: 16px;
}
.contact:hover
{
    color: #d48a1b;
}

.bar{
    display: flex;
  align-items: center;
  justify-content: center;
}
.archive
{
    /* background-color: #c27b13; */
    color: #d48a1b !important;
    cursor: pointer;
    /* position: absolute; */
    top: 8px;
    right: 16px;
    font-size: 18px;
    /* margin: 50px 20px 20px 0px; */
}

.archive:hover
{
    color: #ad6e0e;
}
.fa-archive:before {
    color: #d48a1b;
}

.nav 
{
    background-color: #fff;
    /* height: 148px; */
}
.header {
    width: 100%;
    z-index: 100;
    position: absolute;
    max-width: 100%;
    margin: 0 auto;

    height: 250px;
}
.logo{
    position: absolute;
    z-index: 10;
    left: 10%;
    top: 20px;
}
a{
    color: #fff !important;
}
a:hover{
    color: #d48a1b !important;
}

@media (max-width: 319px) {
	.logo{
        position: absolute;
        z-index: 10;
        left: 10%;
        top: 20px;
    }
    .contact
{
    
   font-size: 12px;
}
}
@media (min-width: 320px) and (max-width: 575.98px) {
    .logo{
        position: absolute;
        z-index: 10;
        left: 5%;
        top: 20px;
        width: 100px;
    }
    .contact
    {
        margin: 30px 5px 10px 5px;
       font-size: 10px;
    }
  
}
@media (min-width: 576px) and (max-width: 682px) {
	.logo{
        position: absolute;
        z-index: 10;
        left: 10%;
        top: 20px;
        width: 150px;
    }
    .contact
    {
        
       font-size: 14px;
    }

}
